extends layout 

block content
    h1 #{title}
    ul.pl-0
        each article, i in articles
            li.list-group-item.d-flex.align-items-center.justify-content-between
                a(href="/articles/" + article._id)=article.title
                div
                    a(href="/articles/edit/"+article._id).btn.btn-secondary.m-2 Edit
                    a(href="javascript:void(0);" data-id=article._id).delete-article.btn.btn-danger.m-2 Delete